flow.txt
[{"id":"3e81ff9.a19d","type":"tab","label":"flow_Time_Schudule","disabled":false,"info":""},{"id":"89c41841.423c38","type":"inject","z":"3e81ff9.a19d","name":"incoming humidity 40%","topic":"","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":167,"y":131,"wires":[["b5ac6002.ec1cf"]]},{"id":"8eed6ca6.dd0c8","type":"inject","z":"3e81ff9.a19d","name":"incoming humidity 50%","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"x":167,"y":171,"wires":[["b5ac6002.ec1cf"]]},{"id":"3a11b27b.37789e","type":"function","z":"3e81ff9.a19d","name":"Store temperature","func":"global.set(\"incomingTemperature\",msg.payload);","outputs":"0","noerr":0,"x":377,"y":71,"wires":[]},{"id":"b5ac6002.ec1cf","type":"function","z":"3e81ff9.a19d","name":"Store humidity","func":"global.set(\"incomingHumidity\",msg.payload);","outputs":"0","noerr":0,"x":367,"y":151,"wires":[]},{"id":"e6c91ad3.025598","type":"inject","z":"3e81ff9.a19d","name":"Test \"Away\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":167,"y":211,"wires":[["ee52dbc.7239628"]]},{"id":"c2774d22.61c5a","type":"inject","z":"3e81ff9.a19d","name":"Test \"Away\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":147,"y":251,"wires":[["ee52dbc.7239628"]]},{"id":"47151ac8.0fa994","type":"inject","z":"3e81ff9.a19d","name":"Test \"Frost\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":167,"y":291,"wires":[["7fe92d28.e15fc4"]]},{"id":"accce653.b11938","type":"inject","z":"3e81ff9.a19d","name":"Test \"Frost\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":147,"y":331,"wires":[["7fe92d28.e15fc4"]]},{"id":"7fe92d28.e15fc4","type":"function","z":"3e81ff9.a19d","name":"Store \"Hold\"","func":"global.set(\"frost\",msg.payload);","outputs":"0","noerr":0,"x":357,"y":331,"wires":[]},{"id":"ee52dbc.7239628","type":"function","z":"3e81ff9.a19d","name":"Store \"Away\"","func":"global.set(\"away\",msg.payload);","outputs":"0","noerr":0,"x":357,"y":231,"wires":[]},{"id":"f231f306.89643","type":"inject","z":"3e81ff9.a19d","name":"sample forecast","topic":"","payload":"Dry, 2c with chance of snow","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":147,"y":371,"wires":[["d6013fae.5356c"]]},{"id":"f324601f.ee5d8","type":"inject","z":"3e81ff9.a19d","name":"Sample forecast","topic":"","payload":"Wet, 12c, possibly rain tonight","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":147,"y":411,"wires":[["d6013fae.5356c"]]},{"id":"d6013fae.5356c","type":"function","z":"3e81ff9.a19d","name":"Store forecast","func":"global.set(\"forecast\",msg.payload);","outputs":"0","noerr":0,"x":367,"y":391,"wires":[]},{"id":"f3c903ad.e4d47","type":"inject","z":"3e81ff9.a19d","name":"incoming heat 27c","topic":"","payload":"27","payloadType":"str","repeat":"","crontab":"","once":false,"x":157,"y":51,"wires":[["3a11b27b.37789e"]]},{"id":"4d405ad1.c3a7b4","type":"inject","z":"3e81ff9.a19d","name":"incoming heat 18c","topic":"","payload":"18","payloadType":"str","repeat":"","crontab":"","once":false,"x":157,"y":91,"wires":[["3a11b27b.37789e"]]},{"id":"6ba6ca6d.accf04","type":"function","z":"3e81ff9.a19d","name":"Handle SET","func":"// here we set manual override controls - valid for 60 minutes after last change.\nif(typeof global.get(\"startHour\")=='undefined') global.set(\"startHour\",0);\nif(typeof global.get(\"restTime\")=='undefined') global.set(\"restTime\",15);\n\nif (global.get(\"away\")===0)\n{\n    if (msg.payload==\"u\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")<10) global.set(\"manual\",global.get(\"manual\")+1); }\n    if (msg.payload==\"d\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")>-10) global.set(\"manual\",global.get(\"manual\")-1); }\n    if (msg.payload==\"a\") { global.set(\"manualTimer\",0); global.set(\"manual\",0); }\n}\n\nif (global.get(\"manual\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nmsg.desired= global.get(\"setTemperature\") + global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; msg.colour=\"#ffbbbb\"; }\nif (global.get(\"away\"))  { msg.desired=global.get(\"timing\")[169];msg.colour=\"#ffbbbb\";  }\nmsg.value=msg.desired;\n\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":901,"wires":[[]]},{"id":"8fdd86b5.d676e8","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"on_water","order":4,"width":"1","height":"1","format":"  <script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.colour!=\"\") $(\"#btn\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n\n                <md-button id=\"btn\" class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'ON_WATER',topic:'piedht'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/scripts/manual-2.png':'/scripts/manual-2.png'}}\" \n                              height=\"36px\"\n                />\n                </md-button> \n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":303,"y":436,"wires":[["7b93623.ad43a9c","29eca77f.11d708"]]},{"id":"4558af43.01ca5","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"mode","order":3,"width":"1","height":"1","format":"                <md-button id=\"btn\" class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'mode'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload==true)?'/scripts/autometic.jpg':'/scripts/manual-5.png'}}\" \n                              height=\"36px\"\n                />\n                </md-button> \n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":332,"y":486,"wires":[["6351a426.14f53c"]]},{"id":"2a1a0bc2.1474b4","type":"function","z":"3e81ff9.a19d","name":"Handle AWAY","func":"// here we set manual override controls - valid for 60 minutes after last change.\nif (msg.payload==\"u\") {  global.set(\"away\",global.get(\"away\")+1); }\nif (msg.payload==\"uu\") { global.set(\"away\",global.get(\"away\")+24); }\n//if (msg.payload==\"a\") { global.set(\"away\",0);  }\nmsg.away=global.get(\"away\");\n\nif (global.get(\"away\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nvar t=parseInt(msg.away);\n// if (t>23) t=((t/24).toFixed(1))+\"d\"; else t=t+\"h\";\nif(t>60) t=60;\nmsg.away=t+\"m\";\n  \nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":852,"wires":[[]]},{"id":"21020e9d.603952","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"u","order":6,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/scripts/manual-4.png':'/scripts/manual-4.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":324,"y":565,"wires":[["7b93623.ad43a9c","e9d6359a.f07dc8"]]},{"id":"d928eda4.88b2","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"OFF","order":7,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"(msg.payload)?send({payload:'OFF_WATER',topic:'piedht'}):send({payload:'ON_WATER',topic:'piedht'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/scripts/on.png':'/scripts/off.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":312,"y":631,"wires":[["7b93623.ad43a9c","d40cfaba.38c108","29eca77f.11d708"]]},{"id":"b7e0749f.ddf688","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"newergauge","order":1,"width":"3","height":"3","format":"<script type=\"text/javascript\" src=\"/scripts/gauge.min.js\"></script>\n<script>\n\n\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n           gauge.value=msg.value;\n           gauge.heat=msg.heatRelay;\n           gauge.humidity=msg.humidityRelay;\n           gauge.draw();\n        });\n    })(scope);\n    \nvar gauge = new RadialGauge({\n    renderTo: 'canvas-id',\n    width: 160,\n    height: 160,\n    heat: 0,\n    humidity: 0,\n    units: \"Degrees C\",\n    title: \"Heating\",\n    minValue: 10,\n    maxValue: 40,\n    majorTicks: [\n        '10',\n        '15',\n        '20',\n        '25',\n        '30',\n        '35',\n        '40'\n    ],\n    minorTicks: 5,\n    strokeTicks: true,\n   highlights  : [\n        { from : 10,  to : 15, color : '#8888ff' },\n        { from : 15, to : 20, color :  '#88ff88' },\n        { from : 20, to : 25, color :  '#ffff00' },\n        { from : 25, to : 30, color :  '#ff8888' },\n        { from : 30, to : 35, color :  '#ff8000' },\n        { from : 35, to : 40, color :  '#ff0000' }\n    ],\n\n    colorPlate: \"#fff\",\n    borderShadowWidth: 0,\n    borders: true,\n    needleType: \"arrow\",\n    valueInt: 2,\n    valueDec:0,\n    needleWidth: 2,\n    fontTitleSize: 42,\n    needleCircleSize: 14,\n    needleCircleOuter: true,\n    needleCircleInner: false,\n    animationDuration: 500,\n    animationRule: \"linear\"\n}).draw();\n\n\ngauge.on('beforeNeedle', function () {\n        // getting canvas 2d drawing context\n        var context = this.canvas.context;\n        // we can use gauge context special 'max' property which represents\n        // gauge radius in a real pixels and calculate size of relative pixel\n        // for our drawing needs\n        var pixel = context.max / 100;\n        // step out our circle center coordinate by 30% of its radius from\n        // gauge center\n        var centerX = 36 * pixel;\n        // stay in center by Y-coordinate\n        var centerY = 0;\n        // use circle radius equal to 5%\n        var radius = 10 * pixel;\n        // save previous context state\n        context.save();\n        \n        // draw circle using canvas JS API\n        context.beginPath();\n        context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.heat) ? '#ff0000' : '#8888';\n        context.fill();\n        context.closePath();\n\n        context.beginPath();\n        context.arc(centerX-(72 * pixel), centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.humidity) ? '#00dd88' : '#888888';\n        context.fill();\n        context.closePath();\n        // restore previous context state to prevent break of\n        // further drawings        \n        \n        context.restore();\n       // context.draw();\n    });\n\ngauge.value = 18;\n\n\n</script>\n<canvas style=\"outline: none;\" ng-click=\"send({payload: ' '})\" id=\"canvas-id\">\n</canvas>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":798,"y":506,"wires":[["8417305f.6d0e6","7ce3cf9b.e309f"]]},{"id":"298e7a8f.641b76","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"START","order":5,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.settime!=\"\") $(\"#infor\").text(msg.settime);\n             if (msg.colour!=\"\") $(\"#infor\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n<table  ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>เริ่ม</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr >\n            <td id=\"infor\"></td>\n        </tr>\n\n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":986,"y":562,"wires":[["7b93623.ad43a9c","983b8a18.911de8"]]},{"id":"9796fa14.59df78","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"FROST","order":8,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             //if (msg.restd!=\"\") \n             $(\"#awaytable\").text(msg.rest+\" นาที\");\n             if (msg.colour!=\"\") $(\"#awaytable\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>ทำงาน</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"awaytable\"></td>\n    \n        </tr>\n\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":816,"y":651,"wires":[["7b93623.ad43a9c","e9d6359a.f07dc8"]]},{"id":"ba358208.a085f","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"STATUS","order":9,"width":"3","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.topic!=\"\") $(\"#hdr1\").text(msg.topic);\n             if (msg.payload!=\"\") $(\"#bod1\").text(msg.payload);\n        });\n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th id=\"hdr1\">></th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"bod1\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":915,"y":779,"wires":[[]]},{"id":"acd6c103.3e89","type":"function","z":"3e81ff9.a19d","name":"show humidity","func":"function theNewDate()\n{\n   var d = new Date(),\n    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes();\n    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();\n    ampm = d.getHours() >= 12 ? 'pm' : 'am';\n    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n    var m= days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return m;\n}\n\nmsg.topic=theNewDate();\nmsg.payload=\"ความชื้นสัมพันธ์: \" + global.get(\"incomingHumidity\") +\"%\" ;\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":747,"wires":[["ba358208.a085f"]]},{"id":"7b93623.ad43a9c","type":"function","z":"3e81ff9.a19d","name":"Showing settings","func":"if(msg.mode == \"auto\") msg.payload = \"Turn on AUTOMETIC control\";\nelse if (msg.mode == \"man\") msg.payload = \"Turn on MANUAL control\";\nelse msg.payload=\"Showing settings\";\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":832,"wires":[["ba358208.a085f"]]},{"id":"8417305f.6d0e6","type":"function","z":"3e81ff9.a19d","name":"Showing actual","func":"msg.payload=\"Showing actual\";\nreturn msg;","outputs":1,"noerr":0,"x":1037,"y":646,"wires":[["ba358208.a085f"]]},{"id":"52082fa3.fac82","type":"function","z":"3e81ff9.a19d","name":"Heat test","func":"if (msg.heatRelay==1){\n\n\n    node.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\n    //if(msg.heatRelay === 0){\n      msg.payload = \"ON_WATER\";\n      msg.topic = \"piedht\";\n      node.send({payload:true});\n    //}\n}else{\n    node.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n    //if(msg.heatRelay === 1) {\n        msg.payload = \"OFF_WATER\";\n        msg.topic = \"piedht\";\n        node.send({payload:false});\n    //}    \n}\nglobal.set(\"heatRelay\",msg.heatRelay);\n\nreturn msg;","outputs":1,"noerr":0,"x":983,"y":350,"wires":[["29eca77f.11d708"]]},{"id":"ff07b252.3285b","type":"function","z":"3e81ff9.a19d","name":"Dehum test","func":"if (msg.humidityRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1037,"y":298,"wires":[]},{"id":"496f41c9.77a5c","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"Settings page","order":2,"width":"6","height":"6","format":"<style>\n.thedays { vertical-align:bottom; height:54px; }\n.the2px  { background-color:black; height:2px; }\n.the2px_green  { background-color:green; height:2px; }\n.theblocks {width:100%; height:0%; background-color:green; }\n.greybuttons { background-color:#dddddd !important; width:48px; }\n.thetemps { font-size:70%; color:#888888 !important; }\n.smallheadings { color:black; font-size:80%; }\n\n</style>\n\n<script>\nvar thedays = [\"SUNDAY\", \"MONDAY\", \"TUESDAY\", \"WEDNESDAY\", \"THURSDAY\", \"FRIDAY\", \"SATURDAY\"];\nvar controls =[\"fan_icon2.png\",\"water_icon2.png\",\"solar_icon2.png\"];\n\nvar runs =[\"MAN\",\"AUTO\"];\n\nvar last = 1;\n\nfunction bar(mm, val) {\n  \n  if (val >0 && val<= 5) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#6666ff');\n  } //blue\n  if (val>5 && val <= 10) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#5577ff');\n  }\n  if (val >10 && val <= 15) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#5599ff');\n  }\n  if (val>15 && val<=20) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#55ccdd');\n  } // cyan\n  if (val>20 && val<=25) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#55ddaa');\n  }\n  if (val>25 && val<=30) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val>30 && val<=35) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#55dd55');\n  } // green\n  if (val>35 && val<=40) {\n    $(mm).height(\"40%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val>40 && val<=45) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#aadd55');\n  }\n  if (val>45 && val<=50) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#dddd55');\n  } // yellow\n  if (val>50 && val<=55) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#ffaa55');\n  }\n  if (val>55 && val<=57) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#ff8855');\n  }\n  if (val>57 && val<=60) {\n    $(mm).height(val+\"%\");\n    $(mm).css('background-color', '#ff7777');\n  } // red\n\n}\n\nfunction selec(val, sta) {\n  var w = \"#td\" + val;\n  if (sta==1) $(w).css('background-color', 'magenta');\n  else if (sta ==2) $(w).css('background-color', '#55dd55');\n  else $(w).css('background-color', 'black');\n}\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    selec(last, 0);\n    last = msg.selector;\n    if(msg.frost===true) selec(last, 2);\n    else selec(last,1);\n    \n    for (var x = 0; x < 24; x++) {\n      var w = \"#t\" + x;\n      bar(w, msg.timing[((msg.days - 1) * 24) + x]);\n      var v = \"#v\" + x;\n      $(v).text(msg.timing[((msg.days - 1) * 24) + x]+\"m\")\n      var f = \"#f\" + x;\n      $(f).text((\"0\"+msg.timing[172+((msg.days - 1) * 24) + x]).slice(-2));\n    \n      \n    //   if(msg.days==day && x==hour){\n    //       $(\"#td\"+(x+5)).css('background-color', 'red');\n    //   }\n    }\n    // for (var x = 0; x < 2; x++) {\n    //   var w = \"#s\" + x;\n    //   $(w).text(msg.timing[172+((msg.days - 1) * 24) + msg.hourSelected] + \"min\");\n    // }\n    $(\"#s0\").html(\"<img src='/images/\"+controls[msg.control]+\"' height='30px'/>\");\n    $(\"#s1\").text(runs[msg.run]);//(msg.timing[172+((msg.days - 1) * 24) + msg.hourSelected] + \"min\");\n    $(\"#s2\").text(\"NO\");\n    // $(\"#s2\").text(msg.timing[169] + \"%\");\n    \n    $(\"#d0\").text(thedays[msg.days - 1]);\n    // if ((last > 4) && (last < 29))\n    //   $(\"#current\").text(msg.timing[((msg.days - 1) * 24) + last - 5] + \"C\");\n    // else\n    //   $(\"#current\").text(\"-\");\n    \n    \n   \n   myStatus=msg.myStatus;\n   if (msg.foryou != \"\")\n   {\n       $(\"#info\").text(msg.foryou);\n       var tm = setTimeout(function() {\n             $(\"#info\").text(myStatus);\n             clearTimeout(tm);\n       }, 3000);\n    }\n  });\n})(scope);\n\n</script>\n<table width=\"100%\">\n  <tr style=\"height:2px\">\n    <td colspan=12 style=\"background-color:black;height:5px;\"></td>\n  </tr>\n\n  <tr>\n    <td colspan=6>\n      <center><span class=\"smallheadings\">Day</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Control</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Run</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Record</span></center>\n    </td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '29'})\" colspan=6>\n      <center><span id=\"d0\" style=\"color:blue;font-size:110%\">MONDAY</span></center>\n    </td>\n    <td ng-click=\"send({payload: '1'})\" colspan=2>\n      <center><span id=\"s0\" style=\"color:blue;font-size:110%\">14</span></center>\n    </td>\n    <td ng-click=\"send({payload: '2'})\" colspan=2>\n      <center><span id=\"s1\" style=\"color:blue;font-size:110%\">40</span></center>\n    </td>\n    <td ng-click=\"send({payload: '30'})\" colspan=2>\n      <center><span id=\"s2\" style=\"color:blue;font-size:110%\">20\n          <!--<md-button id=\"btn\" class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'mode'})\"> -->\n          <!--      <img style=\"outline : none;\" -->\n          <!--                   ng-src=\"{{(msg.payload==true)?'/images/autometic.jpg':'/images/fan_icon.png'}}\" -->\n          <!--                    height=\"22px\"-->\n          <!--      />-->\n          <!--      </md-button> -->\n          \n      </span></center>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td29\" colspan=6 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td1\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td2\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td30\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"v0\" class=\"thetemps\"></span>\n      <div id=\"f0\" class=\"thetemps\">+20</div>\n      <div id=\"t0\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"v1\" class=\"thetemps\"></span>\n      <div id=\"f1\" class=\"thetemps\">+20</div>\n      <div id=\"t1\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"v2\" class=\"thetemps\"></span>\n      <div id=\"f2\" class=\"thetemps\">+20</div>\n      <div id=\"t2\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"v3\" class=\"thetemps\"></span>\n      <div id=\"f3\" class=\"thetemps\">+20</div>\n      <div id=\"t3\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"v4\" class=\"thetemps\"></span>\n      <div id=\"f4\" class=\"thetemps\">+20</div>\n      <div id=\"t4\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"v5\" class=\"thetemps\"></span>\n      <div id=\"f5\" class=\"thetemps\">+20</div>\n      <div id=\"t5\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"v6\" class=\"thetemps\"></span>\n      <div id=\"f6\" class=\"thetemps\">+20</div>\n      <div id=\"t6\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"v7\" class=\"thetemps\"></span>\n      <div id=\"f7\" class=\"thetemps\">+20</div>\n      <div id=\"t7\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"v8\" class=\"thetemps\"></span>\n      <div id=\"f8\" class=\"thetemps\">+20</div>\n      <div id=\"t8\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"v9\" class=\"thetemps\"></span>\n      <div id=\"f9\" class=\"thetemps\">+20</div>\n      <div id=\"t9\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"v10\" class=\"thetemps\"></span>\n      <div id=\"f10\" class=\"thetemps\">+20</div>\n      <div id=\"t10\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"v11\" class=\"thetemps\"></span>\n      <div id=\"f11\" class=\"thetemps\">+20</div>\n      <div id=\"t11\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n\n  <tr style=\"height:2px\">\n    <td id=\"td5\" class=\"the2px\"></td>\n    <td id=\"td6\" class=\"the2px\"></td>\n    <td id=\"td7\" class=\"the2px\"></td>\n    <td id=\"td8\" class=\"the2px\"></td>\n    <td id=\"td9\" class=\"the2px\"></td>\n    <td id=\"td10\" class=\"the2px\"></td>\n    <td id=\"td11\" class=\"the2px\"></td>\n    <td id=\"td12\" class=\"the2px\"></td>\n    <td id=\"td13\" class=\"the2px\"></td>\n    <td id=\"td14\" class=\"the2px\"></td>\n    <td id=\"td15\" class=\"the2px\"></td>\n    <td id=\"td16\" class=\"the2px\"></td>\n  </tr>\n\n\n\n\n  <tr>\n    <td>0</td>\n    <td>1</td>\n    <td>2</td>\n    <td>3</td>\n    <td>4</td>\n    <td>5</td>\n    <td>6</td>\n    <td>7</td>\n    <td>8</td>\n    <td>9</td>\n    <td>10</td>\n    <td>11</td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"v12\" class=\"thetemps\"></span>\n      <div id=\"f12\" class=\"thetemps\">+20</div>\n      <div id=\"t12\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"v13\" class=\"thetemps\"></span>\n      <div id=\"f13\" class=\"thetemps\">+20</div>\n      <div id=\"t13\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"v14\" class=\"thetemps\"></span>\n      <div id=\"f14\" class=\"thetemps\">+20</div>\n      <div id=\"t14\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"v15\" class=\"thetemps\"></span>\n      <div id=\"f15\" class=\"thetemps\">+20</div>\n      <div id=\"t15\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"v16\" class=\"thetemps\"></span>\n      <div id=\"f16\" class=\"thetemps\">+20</div>\n      <div id=\"t16\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"v17\" class=\"thetemps\"></span>\n      <div id=\"f17\" class=\"thetemps\">+20</div>\n      <div id=\"t17\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"v18\" class=\"thetemps\"></span>\n      <div id=\"f18\" class=\"thetemps\">+20</div>\n      <div id=\"t18\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"v19\" class=\"thetemps\"></span>\n      <div id=\"f19\" class=\"thetemps\">+20</div>\n      <div id=\"t19\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"v20\" class=\"thetemps\"></span>\n      <div id=\"f20\" class=\"thetemps\">+20</div>\n      <div id=\"t20\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"v21\" class=\"thetemps\"></span>\n      <div id=\"f21\" class=\"thetemps\">+20</div>\n      <div id=\"t21\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"v22\" class=\"thetemps\"></span>\n      <div id=\"f22\" class=\"thetemps\">+20</div>\n      <div id=\"t22\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"v23\" class=\"thetemps\"></span>\n      <div id=\"f23\" class=\"thetemps\">+20</div>\n      <div id=\"t23\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n\n  <!--<tr>-->\n  <!--  <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"f12\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t12\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"f13\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t13\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"f14\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t14\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"f15\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t15\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"f16\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t16\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"f17\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t17\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"f18\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t18\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"f19\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t19\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"f20\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t20\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"f21\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t21\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"f22\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t22\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--  <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"f23\" class=\"thetemps\"></span>-->\n  <!--    <div id=\"t23\" class=\"theblocks\"></div>-->\n  <!--  </td>-->\n  <!--</tr>-->\n\n\n\n\n  <tr style=\"height:2px\">\n    <td id=\"td17\" class=\"the2px\"></td>\n    <td id=\"td18\" class=\"the2px\"></td>\n    <td id=\"td19\" class=\"the2px\"></td>\n    <td id=\"td20\" class=\"the2px\"></td>\n    <td id=\"td21\" class=\"the2px\"></td>\n    <td id=\"td22\" class=\"the2px\"></td>\n    <td id=\"td23\" class=\"the2px\"></td>\n    <td id=\"td24\" class=\"the2px\"></td>\n    <td id=\"td25\" class=\"the2px\"></td>\n    <td id=\"td26\" class=\"the2px\"></td>\n    <td id=\"td27\" class=\"the2px\"></td>\n    <td id=\"td28\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>12</td>\n    <td>13</td>\n    <td>14</td>\n    <td>15</td>\n    <td>16</td>\n    <td>17</td>\n    <td>18</td>\n    <td>19</td>\n    <td>20</td>\n    <td>21</td>\n    <td>22</td>\n    <td>23</td>\n  </tr>\n  \n  <tr height=\"4px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n\n  <tr height=\"22px\">\n    <td colspan=2 bgcolor=\"#dddddd\"><span class=\"smallheadings\">&nbsp;Status:</span></td>\n\n    <td colspan=10 bgcolor=\"#dddddd\">\n      <center><span id=\"info\" class=\"smallheadings\">OK</span></center>\n    </td>\n  </tr>\n\n  <tr height=\"2px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n  <!--<tr style=\"height:35px\">-->\n  <tr>\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'b'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/images/return_icon.png':'/images/return_icon.png'}}\" height=\"35px\" />\n      </md-button>\n    </td>\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/images/down.png':'/images/down.png'}}\" height=\"35px\" />\n      </md-button>\n    </td>\n\n    <!--<td colspan=2>-->\n    <!--  <center><span id=\"current\" style=\"color:black;font-size:120%\">-</span></center>-->\n    <!--</td>-->\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/images/up.png':'/images/up.png'}}\" height=\"35px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/images/copy-512.png':'/images/copy-512.png'}}\" height=\"35px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/images/Save.png':'/images/Save.png'}}\" height=\"35px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'c'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/images/reload.png':'/images/reload.png'}}\" height=\"35px\" />\n      </md-button>\n    </td>\n    <td colspan=1></td>\n  </tr>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":840,"y":451,"wires":[["8417305f.6d0e6","7ce3cf9b.e309f","71efe38f.9ca67c","aca29ef1.db933"]]},{"id":"71efe38f.9ca67c","type":"function","z":"3e81ff9.a19d","name":"Process controls","func":"if ( typeof context.days == 'undefined' ) context.days=1;\nif ( typeof context.selector == 'undefined' ) context.selector=1;\nif ( typeof context.hourSelected == 'undefined') context.hourSelected = 0;\nif ( typeof context.frost == 'undefined') context.frost = false;\nif ( typeof context.saving == 'undefined' ) context.saving=0;\nif ( typeof context.control == 'undefined' ) context.control=0;\nif ( typeof context.run == 'undefined' ) context.run=0;\n\nif ( typeof context.global.incomingTemperature == 'undefined' ) context.global.incomingTemperature=0;\nif ( typeof context.global.incomingHumidity == 'undefined' ) context.global.incomingHumidity=40;\nif ( typeof context.global.hold == 'undefined' ) context.global.hold=0;\nif ( typeof context.global.away == 'undefined' ) context.global.away=0;\nif ( typeof context.global.manual == 'undefined' ) context.global.manual=0;\nif ( typeof context.global.setTemperature == 'undefined' ) context.global.setTemperature=0;\nif ( typeof context.global.manualTimer == 'undefined' ) context.global.manualTimer=0;\nif ( typeof context.global.myStatus== 'undefined')  context.global.myStatus=\"\";\nif ( typeof context.global.timing2 == 'undefined' ) \n\n    {\n        context.global.timing2=[\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        8,14,40,0,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        8,14,40,0];\n        context.saving=0;  \n        msg.payload=\"anything\";  msg.foryou=\"Restoring\"; return([null,null,msg]);\n    }\n\nvar timing=global.get(\"timing2\");\n\nvar MAX_DEVICE = 3;\nvar MAX_RUN = 2;\n\nswitch (msg.payload)\n    {\n    case \"u\" : \n                // if (context.selector==1 && context.hourSelected >4) { //1 is the control device; 2 is theruning type; >4 is the hour selection\n                //     hr = ((context.days-1)*24)+context.hourSelected-5+172;\n                //     if (timing[hr]<60) {  \n                //         timing[hr]++; \n                //         msg.foryou=\"Incremented frost setting 1 degree\"; \n                //     } else msg.foryou=\"Hit limit\"; \n                // } \n                if ((context.selector>4)&&(context.selector<29)) //hour selection\n                {\n\n                    if(context.frost===true){ //frost flag controls the selection whether start time or frost time\n                        hr = ((context.days-1)*24)+context.selector-5+172;\n                        if (timing[hr]<59){\n                            timing[hr]++;\n                            msg.foryou=\"Incremented start time setting 1 minute\";\n                        }    \n                    }else{    \n                        hr = ((context.days-1)*24)+context.selector-5;\n                        if (timing[hr]<59){\n                            timing[hr]++;\n                            msg.foryou=\"Incremented frost time setting 1 minute\"\n                        }    \n                    }\n                }\n                \n                if (context.selector==1) {//Control selection (Frost selection) \n                    context.control++ ;\n                    context.control %= MAX_DEVICE;\n                    msg.foryou=\"Go to next control device \"+context.control; \n                }\n                if (context.selector==2) {//Run selection (Away selection) \n                    context.run++ ;\n                    context.run %= MAX_RUN;\n                    msg.foryou=\"Move to running type \"+context.run; \n                    \n                }\n                if (context.selector==29) { //day selection\n                    if (context.days<7) { \n                        context.days++; msg.foryou=\"Forward one day\";\n                    } else msg.foryou=\"End of days!!\"; \n                }\n                if (context.selector==30) { if (timing[170]<60) {  timing[170]++; msg.foryou=\"Incremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case \"d\" : \n                //     if (context.selector==1 && context.hourSelected >4) { \n                //     hr = ((context.days-1)*24)+context.hourSelected-5+172;\n                //     if (timing[hr]>0) {  \n                //         timing[hr]--; \n                //         msg.foryou=\"Decremented frost setting 1 degree\"; \n                //     } else msg.foryou=\"Hit limit\"; \n                // } \n                if ((context.selector>4)&&(context.selector<29)) //days selection\n                {\n\n                    if(context.frost===true){\n                        hr = ((context.days-1)*24)+context.selector-5+172;\n                        if (timing[hr]>0){\n                            timing[hr]--;\n                            msg.foryou=\"Decremented start time setting 1 minute\";\n                        }    \n                    }else{    \n                        hr = ((context.days-1)*24)+context.selector-5;\n                        if (timing[hr]>0){\n                            timing[hr]--;\n                            msg.foryou=\"Decremented frost time setting 1 minute\"\n                        }    \n                    }\n                }\n                \n                //if (context.selector==2) { if (timing[169]>0) {  timing[169]--; msg.foryou=\"Incremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==1) {//Control selection (Frost selection) \n                    context.control--;\n                    if(context.control<0) context.control = MAX_DEVICE-1;\n                    msg.foryou=\"Go to control device \"+context.control; \n                }\n                if (context.selector==2) {//Run selection (Away selection) \n                    context.run--;\n                    context.run= Math.abs(context.run) % MAX_RUN;    \n                    msg.foryou=\"Move to running type \"+context.run; \n                }\n                if (context.selector==29) {\n                    //context.hourSelected = 0;\n                    if (context.days>1) { \n                        context.days--; \n                        msg.foryou=\"Forward one day\";\n                    } else msg.foryou=\"End of days!!\"; \n                }\n                if (context.selector==30) { if (timing[170]>0) {  timing[170]--; msg.foryou=\"Incremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case 'r' :  if ((context.selector>=5)&&(context.selector<28))\n                        {\n                         timing[((context.days-1)*24)+context.selector-4]=timing[((context.days-1)*24)+context.selector-5];   \n                         timing[((context.days-1)*24)+context.selector-4+172]=timing[((context.days-1)*24)+context.selector-5+172];   \n                         context.selector++;\n                         msg.foryou=\"Copied settings to the next hour slot\";\n                        }\n                if ((context.selector==29)&&(context.days<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing[((context.days)*24)+a]=timing[((context.days-1)*24)+a];   \n                            }\n                         context.days++;\n                         msg.foryou=\"Copied a complete day's settings\";\n                        }\n                break;\n    case 's': context.saving=0;  msg.foryou=\"Settings saved to disk\"; break;\n    case '1': //break;\n    case '2'://break;\n    case '3'://break;\n    case '4'://break;\n    case '5':\n            //msg.foryou=\"Selecting \"+(parseInt(msg.payload)-4); break;\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29':\n    case '30': //   select DeHum\n               context.selector=parseInt(msg.payload); //selector เป็นตัวเก็บสถานะปัจจุบันของการเลือก\n\n               if (msg.payload=='1') msg.foryou=\"Control Device selection\"; //frost\n               else if (msg.payload=='2') msg.foryou=\"Run type selection\"; //away\n               else if (msg.payload=='29'){msg.foryou=\"Day selection\";} //day\n               else if (msg.payload=='30') msg.foryou=\"Record time selection\"; //humid\n               else {\n                    if(context.hourSelected === context.selector) //มีการกดที่ ชั่วโมง ซ้ำ --> สีจะสับเป็น ชมพู-เขียว หรือ เขียว-ชมพู\n                        context.frost = !context.frost; //flag บังคับสีเส้นฐาน {เขียว,ชมพู}\n                    else {\n                        context.frost = false; //reset flag to Megenta color\n                        context.hourSelected = context.selector;\n                    }\n                   //context.hourSelected = context.selector;\n                    msg.foryou=\"เลือกชั่วโมงที่  \" + (parseInt(msg.payload)-4);\n               }       \n        break;\n    case 'c' : \n        if ((context.selector>4)&&(context.selector<29)) //days selection\n        {\n            msg.payload=\"anything\";  msg.foryou=\"Apply schedule of day:\"+(context.days-1)+\" hour:\"+(context.selector-5);\n            global.set(\"startDay\",context.days-1);\n            global.set(\"startHour\", context.selector-5);\n           // global.set(\"startMinute\",timing[context.day*24+(context.selector-5)]);\n            //global.set(\"startRest\",timing[context.day*24+(context.selector-5)+172]); \n            //msg.payload = \"s\";\n           // node.send([null,null,msg]);\n           return([null,null,msg]);\n        }\n        \n    }\n\n//updating msg\nmsg.temperatures=context.temperatures;\nmsg.timing=timing;\nmsg.days=context.days;\nmsg.selector=context.selector;\nmsg.hourSelected = context.hourSelected;\nmsg.frost = context.frost;\nmsg.control = context.control;\nmsg.run = context.run;\n\n\nmsg.myStatus=context.global.myStatus;\n\nnode.send([msg,null,null]);\n\nif (context.saving===0) \n    { \n       msg.topic=\"\";\n        msg.timing=\"\";\n        msg.payload=JSON.stringify(timing);\n        node.send([null,msg,null]); \n        context.saving = 1;\n    }\n    msg.foryou=\"\";\n    \n//return [msg,null,null];\n","outputs":3,"noerr":0,"x":785,"y":145,"wires":[["496f41c9.77a5c","e1df36f4.5f6958"],["a9dfc523.1516a8","97667cbc.58676"],["3ce325ca.69fb7a","a14a71b0.44b6c","aca29ef1.db933"]]},{"id":"a9dfc523.1516a8","type":"file","z":"3e81ff9.a19d","name":"backup","filename":"d:\\phaitoon\\iot\\project\\petesstatlog2.log","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1144,"y":149,"wires":[[]]},{"id":"3ce325ca.69fb7a","type":"file in","z":"3e81ff9.a19d","name":"Restore","filename":"d:\\phaitoon\\iot\\project\\petesstatlog2.log","format":"utf8","sendError":true,"x":802,"y":29,"wires":[["8daf4431.9a2d48"]]},{"id":"8daf4431.9a2d48","type":"function","z":"3e81ff9.a19d","name":"Restore data from SD","func":"context.global.timing=JSON.parse(msg.payload);\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1024,"y":40,"wires":[["71efe38f.9ca67c"]]},{"id":"7ce3cf9b.e309f","type":"function","z":"3e81ff9.a19d","name":"Process heat","func":"var timing=global.get(\"timing\");\nvar now = new Date();\nmsg.payload=timing[(now.getDay()*24)+now.getHours()];\nmsg.index = (now.getDay()*24)+now.getHours();\nmsg.day = now.getDay();\nmsg.hour = now.getHours();\nmsg.frost=timing[168];\nmsg.away=timing[169];\nmsg.setHumidity=timing[170];\nmsg.selday = 5;\n\nmsg.temperature=global.get(\"incomingTemperature\");\nmsg.humidity=global.get(\"incomingHumidity\");\n\nmsg.set=msg.payload;\nif (global.get(\"manualTimer\")) global.set(\"manualTimer\",global.get(\"manualTimer\")-1);\nelse global.set(\"manual\",0);\nmsg.desired=msg.set;\nglobal.set(\"setTemperature\",msg.desired);\nmsg.desired+=global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; global.set(\"frost\",global.get(\"frost\")-1); }\nif (global.get(\"away\")) { msg.desired=global.get(\"timing\")[169]; global.set(\"away\",global.get(\"away\")-1); }\n\nif (msg.desired>msg.temperature) msg.heatRelay=1; else msg.heatRelay=0;\nif (msg.humidity>msg.setHumidity) msg.humidityRelay=1; else msg.humidityRelay=0;\n\n//context.global.myStatus=\"Heating: \" + ((msg.heatRelay)? \"ON\":\"OFF\") + \" Dehumidifier: \" + ((msg.humidityRelay)? \"ON\":\"OFF\");\nglobal.set(\"myStatus\",\"-\");\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Set point \" + msg.desired + \"c - Actual \" + msg.temperature +\"c\"});\n\nif ( typeof msg.value == 'undefined' ) msg.value=global.get(\"incomingTemperature\");\n\nnode.send(msg);\n\n\n\n\n\n","outputs":"1","noerr":0,"x":864,"y":243,"wires":[["b7e0749f.ddf688","ff07b252.3285b"]]},{"id":"b0b11684.4b1a08","type":"inject","z":"3e81ff9.a19d","name":"Every minute","topic":"","payload":"t","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"","x":487,"y":118,"wires":[["7ce3cf9b.e309f","71efe38f.9ca67c","acd6c103.3e89","aca29ef1.db933"]]},{"id":"2b4ec9cf.0d9ed6","type":"inject","z":"3e81ff9.a19d","name":"Once only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":557,"y":179,"wires":[["71efe38f.9ca67c","3ce325ca.69fb7a","6351a426.14f53c","d40cfaba.38c108"]]},{"id":"e1df36f4.5f6958","type":"debug","z":"3e81ff9.a19d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1275,"y":114,"wires":[]},{"id":"97667cbc.58676","type":"debug","z":"3e81ff9.a19d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":996,"y":173,"wires":[]},{"id":"a14a71b0.44b6c","type":"debug","z":"3e81ff9.a19d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":981,"y":211,"wires":[]},{"id":"47f074e4.70d51c","type":"ui_template","z":"3e81ff9.a19d","group":"fdbeaa7a.831fb8","name":"css etc","order":10,"width":"0","height":"0","format":"<style>\n\n.cellGreen \n{\nbackground-color: #ffdddd !important;\n}\n\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n \n\n  \n.zui-table {\n    border: solid 1px #DDEEEE;\n    border-collapse: collapse;\n    border-spacing: 0;\n    font: normal 10px Arial, sans-serif;\n    outline: none;\n}\n.zui-table thead th {\n    width: 100%;\n    height:50%;\n    background-color: #99bbff;\n    border: solid 1px #DDEEEE;\n    color: #336B6B;\n    padding: 7px 3px 5px 3px;\n    text-align: center;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table tbody td {\n    width: 100%;\n    height:50%;\n    border: solid 1px #333;\n    color: #333;\n    text-align: center;\n    padding: 6px 3px 9px 3px;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table-rounded {\n    border: none;\n}\n.zui-table-rounded thead th {\n    background-color: #77aaff;\n    border: none;\n    text-shadow: 1px 1px 1px #ccc;\n    color: #333;\n}\n.zui-table-rounded thead th:first-child {\n    border-radius: 10px 0 0 0;\n}\n.zui-table-rounded thead th:last-child {\n    border-radius: 10px 10px 0px 0px;\n}\n.zui-table-rounded tbody td {\n    border: none;\n    border-top: solid 1px #957030;\n    background-color: #aaddff;\n}\n.zui-table-rounded tbody tr:last-child td:first-child {\n    border-radius: 10px 10px 0 0;\n}\n.zui-table-rounded tbody tr:last-child td:last-child {\n    border-radius: 0 0 10px 10px;\n}  \n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \nvar myStatus=\"Nowt\";\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":368,"y":192,"wires":[[]]},{"id":"93969aea.c64338","type":"function","z":"3e81ff9.a19d","name":"process schedule","func":"var timing=global.get(\"timing2\");\nvar now = new Date();\nmsg.day = (typeof global.get(\"startDay\") != 'undefined')?global.get(\"startDay\"):now.getDay();\nmsg.hour = (typeof global.get(\"startHour\") != 'undefined')?global.get(\"startHour\"):now.getHours();\nmsg.minute = timing[msg.day*24+msg.hour];\nif(typeof(msg.rest=='undefined')) msg.rest = timing[msg.day*24+msg.hour+172];\n\n// if(msg.payload===0){\n//     context.day = now.getDay();\n//     context.hour = now.getHours();\n//     context.minute = timing[(now.getDay()*24)+now.getHours()];\n//     context.rest=timing[169];\n// }\n\n\n// if ( typeof context.day == 'undefined') context.day = now.getDay();\n// if ( typeof context.hour == 'undefined' ) context.hour = now.getHours();\n// if (typeof context.minute == 'undefined') context.minute = timing[(now.getDay()*24)+now.getHours()];\n// if ( typeof context.rest == 'undefined' ) context.rest=timing[(now.getDay()*24)+now.getHours()+172];\n// if ( typeof context.flag == 'undefined')context.flag = false;\n// if (typeof context.pumpstate == 'undefined') context.pumpstate = \"OFF\";\n\n// msg.day = context.day;\n// msg.hour = context.hour;\n// msg.minute = context.minute;\n// msg.rest = context.rest;\n\n// if (msg.payload == \"ON_wATER\"){\n//     context.flag = false;\n//     context.pumpstate = \"ON\";\n// }\n// if (mst.payload == \"OFF_WATER\"){\n//     context.pumpstate = \"OFF\";\n// }\nif (msg.payload==\"s\" || msg.payload == \"u\" || msg.payload == \"d\" || msg.payload == \"anything\" ){\n // load a new schedule; \n // s = save; u = up; d= down\n msg.day = global.get(\"startDay\");\n msg.hour = global.get(\"startHour\");\n msg.minute = timing[(msg.day*24)+msg.hour];\n msg.rest=timing[(msg.day*24)+msg.hour+172];\n\n}\n\n\n// if(msg.rest === 0){\n//     msg.hour +=1; \n//     if(msg.hour>23){ \n//         msg.hour = 0;\n//         msg.day += 1;\n//     }\n//     if(msg.day>6){ //day=0 sunday; day=1 monday; and so on...\n//         msg.day = 0;\n//     }\n//     msg.minute = timing[(msg.day*24)+msg.hour];//load the next rest time;\n//     msg.rest = timing[msg.day*24+msg.hour+172];\n//     context.flag = false;\n// }\n\n// //count down the rest time\n// if (msg.rest>0 && context.flag && msg.payload==\"t\") { \n//     msg.rest--;\n// }else{\n//     context.flag = true;\n// }\n\n\n//context.global.myStatus=\"Heating: \" + ((msg.heatRelay)? \"ON\":\"OFF\") + \" Dehumidifier: \" + ((msg.humidityRelay)? \"ON\":\"OFF\");\n\n\n\nglobal.set(\"myStatus\",\"-\");\nglobal.set(\"startDay\",msg.day);\nglobal.set(\"startHour\",msg.hour);\nglobal.set(\"startMinute\",msg.minute);\nglobal.set(\"restTime\",msg.rest);\n\n\nmsg.settime = (\"0\"+msg.hour).slice(-2)+\":\"+(\"0\"+msg.minute).slice(-2)+\"น.\";//timing[169];\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Set hour \" + msg.settime + \": frost time \" + msg.rest +\" minutes\"});\n//msg.restd = \" \"+msg.rest+\" นาที\";\n//node.send(msg);\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":351,"y":704,"wires":[[]]},{"id":"aca29ef1.db933","type":"function","z":"3e81ff9.a19d","name":"process pump","func":"var timing=global.get(\"timing2\");\nvar now = new Date();\nvar auto = false;\nif ( typeof context.flag == 'undefined') context.flag = false;\nif (typeof context.pumpstate == 'undefined') context.pumpstate = \"OFF\";\n\ncontext.day = ( typeof global.get(\"startDay\") == 'undefined')?now.getDay():global.get(\"startDay\");\ncontext.hour = ( typeof global.get(\"startHour\") == 'undefined' )?now.getHours():global.get(\"startHour\");\ncontext.minute = timing[context.day*24+context.hour];\nif (typeof context.rest == 'undefined') context.rest = timing[context.day*24+context.hour+172];\n\nif (msg.payload == \"u\" || msg.payload == \"d\" || msg.payload == \"c\" ){\n // load a new schedule; \n // u = up; d= down\n context.day = global.get(\"startDay\");\n context.hour = global.get(\"startHour\");\n context.minute = timing[(context.day*24)+context.hour];\n context.rest=timing[(context.day*24)+context.hour+172];\n\n}\n\nif(auto===true){\n    msg.away=timing[169];\n    msg.temperature = global.get(\"incomingTemperature\");\n    msg.humidity=global.get(\"incomingHumidity\");\n    msg.setHumidity=timing[170];   \n}else{\n    if (context.day===(now.getDay()) && context.hour === now.getHours() && context.minute <= now.getMinutes() && context.rest>0){\n        msg.heatRelay=1; \n        \n        if (context.rest>0 && context.flag && msg.payload==\"t\") { //t = \"time down\"\n            context.rest--;\n        }else{\n            context.flag = true;\n        } \n        \n        if(context.rest === 0){\n            context.hour +=1; \n            if(context.hour>23){ \n                context.hour = 0;\n                context.day += 1;\n            }\n            if(context.day>6){ //day=0 sunday; day=1 monday; and so on...\n                context.day = 0;\n            }\n            //turn off water pump\n            msg.heatRelay=0; \n            msg.colour =\"#aaddff\"\n            // msg.payload = \"OFF_WATER\";\n            // msg.topic = \"piedht\";\n            \n            // load a next schedule\n            context.minute = timing[(context.day*24)+context.hour];//load the next rest time;\n            context.rest = timing[context.day*24+context.hour+172];\n            context.flag = false;\n        }else{\n            msg.colour =\"#aaffaa\"\n            // msg.payload = \"ON_WATER\";\n            // msg.topic = \"piedht\";\n        }\n\n    }else{\n        msg.heatRelay=0; \n        msg.colour =\"#aaddff\"\n        // msg.payload = \"OFF_WATER\";\n        // msg.topic = \"piedht\";\n        \n    }\n}\n\nglobal.set(\"myStatus\",\"-\");\nglobal.set(\"startDay\",context.day);\nglobal.set(\"startHour\",context.hour);\nglobal.set(\"startMinute\",context.minute);\nglobal.set(\"restTime\",context.rest);\nmsg.day = context.day;\nmsg.hour = context.hour;\nmsg.minute = context.minute;\nmsg.rest = context.rest;\nmsg.flag = context.flag;\nmsg.settime = (\"0\"+msg.hour).slice(-2)+\":\"+(\"0\"+msg.minute).slice(-2)+\"น.\";//timing[169];\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Set point (\"+now.getDay()+\":\"+now.getHours()+\":\"+now.getMinutes()+\"):(\"+context.day+\":\"+ context.hour + \":\"+ context.minute +\") rest = \"+msg.rest+\" น\"});\n//node.send(msg);\nreturn msg;\n\n\n\n\n\n","outputs":"1","noerr":0,"x":600,"y":261,"wires":[["52082fa3.fac82","298e7a8f.641b76","9796fa14.59df78","d40cfaba.38c108"]]},{"id":"594254cd.935c6c","type":"debug","z":"3e81ff9.a19d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":534,"y":621,"wires":[]},{"id":"7df95910.b5da38","type":"inject","z":"3e81ff9.a19d","name":"Reset Time","topic":"","payload":"","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":907,"wires":[[]]},{"id":"e9d6359a.f07dc8","type":"function","z":"3e81ff9.a19d","name":"Handle FROST","func":"var now  = new Date();\nmsg.day = (typeof global.get(\"startDay\") != 'undefined')?global.get(\"startDay\"):now.getDay();\nmsg.hour = (typeof global.get(\"startHour\") != 'undefined')?global.get(\"startHour\"):now.getHours();\nmsg.minute = timing[msg.day*24+msg.hour];\nmsg.rest = timing[msg.day*24+msg.hour+172];\n\nvar timing=global.get(\"timing2\");\nvar now = new Date();\n\nif (msg.rest===0){\n    msg.colour=\"#aaddff\";\n}else{\n    msg.colour=\"#aaffaa\";   \n}\nif(msg.payload==\"u\"){\n    msg.rest++;\n    if(msg.rest>60)msg.rest=60;\n}\nif(msg.payload==\"d\"){\n    msg.rest--;\n    if(msg.rest<0)msg.rest=0;\n}\nif(msg.payload==\"a\")msg.colour=\"#ffbbbb\";\n\n\nglobal.set(\"startDay\",msg.day);\nglobal.set(\"starHour\",msg.hour);\nglobal.set(\"startMinute\",msg.minute);\nglobal.set(\"startRest\",msg.rest);\n\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":507,"wires":[["aca29ef1.db933"]]},{"id":"983b8a18.911de8","type":"function","z":"3e81ff9.a19d","name":"Handle START","func":"var now  = new Date();\nmsg.day = (typeof global.get(\"startDay\") != 'undefined')?global.get(\"startDay\"):now.getDay();\nmsg.hour = (typeof global.get(\"startHour\") != 'undefined')?global.get(\"startHour\"):now.getHours();\nmsg.minute = timing[msg.day*24+msg.hour];\nmsg.rest = timing[msg.day*24+msg.hour+172];\n\nvar timing=global.get(\"timing2\");\nvar now = new Date();\n\nif (msg.rest===0){\n    msg.colour=\"#aaddff\";\n}else{\n    msg.colour=\"#aaffaa\";   \n}\nif(msg.payload==\"u\"){\n    msg.minute++;\n    if(msg.minute>60)msg.minute=60;\n}\nif(msg.payload==\"d\"){\n    msg.minute--;\n    if(msg.minute<0)msg.minute=0;\n}\nif(msg.payload==\"a\")msg.colour=\"#ffbbbb\";\n\n\nglobal.set(\"startDay\",msg.day);\nglobal.set(\"starHour\",msg.hour);\nglobal.set(\"startMinute\",msg.minute);\nglobal.set(\"startRest\",msg.rest);\n\nmsg.settime = (\"0\"+msg.hour).slice(-2)+\":\"+(\"0\"+msg.minute).slice(-2)+\"น.\";//timing[169];\nreturn msg;","outputs":1,"noerr":0,"x":568,"y":431,"wires":[["aca29ef1.db933"]]},{"id":"6351a426.14f53c","type":"function","z":"3e81ff9.a19d","name":"","func":"if(typeof context.flag == 'undefined')context.flag=false;\nif(context.flag){\n    msg.payload = true;\n    msg.mode = \"auto\";\n}\nelse{\n    msg.payload = false;\n    msg.mode = \"man\"\n}\n\ncontext.flag = !context.flag;\n\nreturn msg;","outputs":1,"noerr":0,"x":157,"y":552,"wires":[["4558af43.01ca5","7b93623.ad43a9c"]]},{"id":"80cc4cf7.cb727","type":"inject","z":"3e81ff9.a19d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["4558af43.01ca5"]]},{"id":"23a16381.56540c","type":"inject","z":"3e81ff9.a19d","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":152,"y":495,"wires":[["4558af43.01ca5"]]},{"id":"3e2c053b.44cbda","type":"microgear","z":"3e81ff9.a19d","name":"/dht","appid":"AppBuuAJ","key":"kx3A1MbDFuRAklG","secret":"TlTpuhKnXMPAdXgXBcLBmScI8","alias":"dht","topics":"/dht","active":true,"retain":"false","retainType":"bool","x":120,"y":995,"wires":[["a8e9356b.1fd0f8","20c8fd6c.fa43e2","23ee0f58.7b188"]]},{"id":"a8e9356b.1fd0f8","type":"function","z":"3e81ff9.a19d","name":"getTemperature","func":"\n\nif(global.get(\"heatRelay\") == 'undefined')global.set(\"heatRelay\",0);\n\nvar output = msg.payload.split(\",\");\n\nmsg.value=parseInt(output[1]);\nmsg.heatRelay=global.get(\"heatRelay\");\nmsg.humidity=parseFloat(output[0]);\nmsg.humidityRelay = 0;\n\nglobal.set(\"incomingTemperature\",msg.value);\nglobal.set(\"incomingHumidity\",msg.humidity);\nreturn msg;\n","outputs":1,"noerr":0,"x":353,"y":1007,"wires":[["b7e0749f.ddf688"]]},{"id":"20c8fd6c.fa43e2","type":"function","z":"3e81ff9.a19d","name":"toMultipleCharts","func":"\nvar output = msg.payload.split(\",\");\ntemp = {payload:parseInt(output[1]),topic:\"Temp\"};\nheart = {payload:parseInt(output[0]),topic:\"Humid\"};\nvar ret = [];\nret.push(heart);\nret.push(temp);\nreturn [ret];","outputs":1,"noerr":0,"x":363,"y":1109,"wires":[[]]},{"id":"23ee0f58.7b188","type":"function","z":"3e81ff9.a19d","name":"getHumidity","func":"function theNewDate()\n{\n   var d = new Date(),\n    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes();\n    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();\n    ampm = d.getHours() >= 12 ? 'pm' : 'am';\n    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n    var m= days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return m;\n}\n\n\nif(global.get(\"heatRelay\") == 'undefined')global.set(\"heatRelay\",0);\n\nvar output = msg.payload.split(\",\");\nmsg.value=parseInt(output[1]);\nmsg.heatRelay=global.get(\"heatRelay\");\nmsg.humidity=parseFloat(output[0]);\n\n\nmsg.topic=theNewDate();\nmsg.payload=\"Humidity: \"+msg.humidity+\"%\" ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":348,"y":1059,"wires":[["ba358208.a085f"]]},{"id":"b8201f76.55b98","type":"microgear","z":"3e81ff9.a19d","name":"/dht/state","appid":"AppBuuAJ","key":"kx3A1MbDFuRAklG","secret":"TlTpuhKnXMPAdXgXBcLBmScI8","alias":"dht_state","topics":"/dht/state","active":true,"retain":"false","retainType":"bool","x":132,"y":1064,"wires":[["41a88bb5.8c0424","9eac59c3.d02808"]]},{"id":"41a88bb5.8c0424","type":"debug","z":"3e81ff9.a19d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":343,"y":1201,"wires":[]},{"id":"d759865d.cb8308","type":"inject","z":"3e81ff9.a19d","name":"","topic":"piedht","payload":"ON_WATER","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":777,"y":952,"wires":[["29eca77f.11d708"]]},{"id":"29eca77f.11d708","type":"rest chat","z":"3e81ff9.a19d","name":"rest chat","appid":"AppBuuAJ","auth":"WQMrFzlnpUPjHdp:Ef734RWD13zJBKznlw2X4Wp4K","alias":"topic","aliasType":"msg","payload":"payload","payloadType":"msg","x":1067,"y":885,"wires":[]},{"id":"11ff19df.829036","type":"inject","z":"3e81ff9.a19d","name":"","topic":"piedht","payload":"OFF_WATER","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":781,"y":1030,"wires":[["29eca77f.11d708"]]},{"id":"68bd8ca1.f39e84","type":"microgear","z":"3e81ff9.a19d","name":"/water/flow","appid":"AppBuuAJ","key":"kx3A1MbDFuRAklG","secret":"TlTpuhKnXMPAdXgXBcLBmScI8","alias":"water_flow","topics":"/water/flow","active":true,"retain":"false","retainType":"bool","x":136,"y":1138,"wires":[["17a680de.b0abaf"]]},{"id":"17a680de.b0abaf","type":"function","z":"3e81ff9.a19d","name":"getWaterFlow","func":"function theNewDate()\n{\n   var d = new Date(),\n    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes();\n    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();\n    ampm = d.getHours() >= 12 ? 'pm' : 'am';\n    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n    var m= days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return m;\n}\n\n\nif(global.get(\"heatRelay\") == 'undefined')global.set(\"heatRelay\",0);\n\nvar output = msg.payload.split(\",\");\nmsg.value=parseInt(output[1]);\nmsg.heatRelay=global.get(\"heatRelay\");\nmsg.humidity=parseFloat(output[0]);\nmsg.waterflow = isNaN(parseFloat(output[2]))?0:parseInt(output[2]);\n\n\nmsg.topic=theNewDate();\nmsg.payload=\"Humidity: \"+msg.humidity+\"% Flow: \"+msg.waterflow+\" L/M\" ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":349,"y":1254,"wires":[["ba358208.a085f"]]},{"id":"9eac59c3.d02808","type":"function","z":"3e81ff9.a19d","name":"","func":"\nif(msg.payload==\"PUMP_STARTED\"){\n    global.set(\"pump_state\",\"PUMP_STARTED\");\n}\nif(msg.payload==\"PUMP_sTOPPED\"){\n    global.set(\"pump_state\",\"PUMP_STOPPED\");\n}\n","outputs":0,"noerr":0,"x":337,"y":1153,"wires":[]},{"id":"d40cfaba.38c108","type":"function","z":"3e81ff9.a19d","name":"","func":"if(typeof context.flag == 'undefined')context.flag=false;\nif (msg.heatRelay===1)context.flag = true;\nif (msg.heatRelay===0)context.flag = false;\nif(msg.payload === false)context.flag = false;\nif(context.flag){\n    msg.payload = true;\n    msg.mode = \"on\";\n    //node.send({payload: 'ON_WATER',topic:'piedht'});\n}\nelse{\n    msg.payload = false;\n    msg.mode = \"off\"\n    //node.send({payload: 'OFF_WATER',topic:'piedht'});\n}\n\ncontext.flag = !context.flag;\n\nreturn msg;","outputs":1,"noerr":0,"x":153,"y":678,"wires":[["d928eda4.88b2","594254cd.935c6c"]]},{"id":"fdbeaa7a.831fb8","type":"ui_group","z":"","name":"Home","tab":"541ce6d6.15b588","order":1,"disp":false,"width":"6","collapse":false},{"id":"541ce6d6.15b588","type":"ui_tab","z":"","name":"TimeSchedule","icon":"dashboard","order":13,"disabled":false,"hidden":false}]